body {
    font-family: Arial, sans-serif;
    text-align: center;
    margin-top: 50px;
}

#preview img {
    margin-top: 20px;
    border: 2px solid #ccc;
    padding: 5px;
    border-radius: 10px;
}
